<html>
	<head>
		<title>Syncronizer Status</title>
	</head>
	<body>
		<div>Synced? {{ synced }}</div>
		{% if details %}
			<ul>
				{% for model_name, status, diff in details %}
					<li>
						Actual DB table "{{ model_name }}" is {{ diff }} rows
						{% if status > 0 %}
							ahead
						{% else %}
							behind
						{% endif %}
						Legacy
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div><a href="{% url 'admin:index' %}">Go to Admin panel</a></div>
	</body>
</html>
